.anton-sc {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
  }

.lobster {
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
  }

.oleo-script {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.zain {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

.main1{
    background-image: url("img/house1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main2{
    background-image: url("img/house2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.glass-effect {
    background: rgba(110, 190, 255, 0.634);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.584);
    box-shadow: 10px 10px 10px rgba(1, 0, 0, 0.517);
}
.active{
    
    text-shadow: 3px 4px 5px  rgb(76, 58, 12);
    font-size: 1.1rem;
    color: rgb(231, 191, 13);
   
}

li{
  list-style:square;
}

/* Custom Scrollbar for WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 20px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #eeebe500; /* Background of the scrollbar track */
  border-radius: 20px; /* Rounding the track corners */
}

::-webkit-scrollbar-thumb {
 
  border-radius: 50px; /* Rounding the scrollbar thumb corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #55555500; /* Color when hovering over the scrollbar */
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width:thin; /* Thin scrollbar */
  scrollbar-color: #2443de #eeebe500; /* Thumb color, track color */
}

.max-h-0 {
  max-height: 0;
  overflow: hidden;
}

.max-h-screen {
  max-height: 100vh;
}

.transition-all {
  transition: all 2s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}



/* Main loader container styles */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fix the loader in place */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 179, 255, 0.466); /* Semi-transparent white background */
  z-index: 9999; /* Make sure the loader is on top of other elements */
}

/* Apply blur effect to main content */
.blur {
  filter: blur(5px); /* Adjust the blur radius as needed */
  pointer-events: none; /* Ensure the content is not clickable while loading */
}

/* Loader animation styles */
.loader div {
  position: absolute;
  width: 50px;
  height: 31px;
}

.rot {
  transform: rotate(150deg);
}

.rot2 {
  transform: rotate(20deg);
}

.loader div:nth-of-type(2) {
  transform: rotate(60deg);
}

.loader div:nth-of-type(3) {
  transform: rotate(-60deg);
}

.loader div div {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader div div span {
  position: absolute;
  width: 5px;
  height: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: white;
  z-index: 999999;
}

.h1 {
  left: 0;
  animation: load1 3.2s ease infinite;
}

.h2 {
  right: 0;
  animation: load2 3.2s ease 0.4s infinite;
}

.h3 {
  right: 0;
  animation: load3 3.2s ease 0.8s infinite;
}

.h4 {
  top: 10px;
  left: 23px;
  animation: load4 3.2s ease 1s infinite;
  transform: rotate(90deg);
}

.h5 {
  bottom: 0;
  animation: load5 3.2s ease 1.2s infinite;
}

.h6 {
  left: 0;
  animation: load6 3.2s ease 1.3s infinite;
}

@keyframes load1 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.944444433% {
    top: 0;
    height: 0;
  }
}

@keyframes load2 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.944444433% {
    bottom: 0;
    height: 0;
  }
}

@keyframes load3 {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
}

@keyframes load4 {
  0% {
    top: 37px;
    left: 23px;
    height: 134%;
  }
  6.944444444% {
    top: 10px;
    height: 134%;
  }
  50% {
    bottom: 10px;
    height: 134%;
  }
  59.94444443% {
    bottom: 0;
    height: 0;
  }
}

@keyframes load5 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
}

@keyframes load6 {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.94444443% {
    top: 0;
    height: 0;
  }
}

